.type-6 .class1 {
  background: #4d7df0;
  border-radius: 1%;
  position: relative;
}
.type-6 .class1 .item_info {
  position: absolute;
}
.type-6 .class1 .apple {
  color: #fff;
}
.type-6 .class1 .macbook {
  color: #fff;
}
.type-6 .class1 .macbook:hover {
  color: #131930;
}
.type-6 .class1 .type {
  font-family: 'Montserrat', thin;
  color: #fff;
}
.type-6 .class1 .money {
  font-family: 'Montserrat', thin;
  color: #fff;
}
.type-6 .class1 .btnshopnow {
  background: #131930;
  color: #fff;
  font: montserrat;
}
.type-6 .class1 .btnshopnow:hover {
  background: #fff;
  color: #000;
}
@media screen and (max-width: 979px) {
  .type-6 .class1 .apple {
    font-size: 12px;
    margin-bottom: -20px;
  }
  .type-6 .class1 .macbook {
    font-size: 18px;
  }
  .type-6 .class1 .type {
    font-size: 12px;
    margin-bottom: 10px;
  }
  .type-6 .class1 .money {
    font-size: 20px;
  }
  .type-6 .class1 .btnshopnow {
    font-size: 12px;
  }
  .type-6 .class1 .item_info {
    left: 10px;
    right: 0px;
    top: 0px;
  }
}
@media screen and (min-width: 980px) {
  .type-6 .class1 .item_info {
    left: 70px;
    right: 0px;
    top: 40px;
  }
  .type-6 .class1 .apple {
    font-size: 21px;
  }
  .type-6 .class1 .macbook {
    font-size: 50px;
  }
  .type-6 .class1 .type {
    font-size: 20px;
  }
  .type-6 .class1 .money {
    font-size: 40px;
  }
  .type-6 .class1 .btnshopnow {
    font-size: 20px;
  }
}
.type-6 .class2 {
  background: #fff;
  border-radius: 1%;
  position: relative;
}
.type-6 .class2 .item_info {
  position: absolute;
}
.type-6 .class2 .apple {
  color: #131930;
}
.type-6 .class2 .iMac {
  color: #131930;
}
.type-6 .class2 .iMac:hover {
  color: #4d7df0;
}
.type-6 .class2 .type {
  font-family: 'Montserrat', Thin;
  color: #7f8496;
}
.type-6 .class2 .money {
  font-family: 'Montserrat', Extra-Light;
  color: #4d7df0;
}
.type-6 .class2 .btnshopnow {
  background: #4d7df0;
  color: #fff;
  font: montserrat;
}
.type-6 .class2 .btnshopnow:hover {
  background: #131930;
  color: #fff;
}
@media screen and (max-width: 979px) {
  .type-6 .class2 .apple {
    font-size: 12px;
    margin-bottom: -20px;
  }
  .type-6 .class2 .iMac {
    font-size: 18px;
  }
  .type-6 .class2 .type {
    font-size: 12px;
    margin-bottom: 10px;
  }
  .type-6 .class2 .money {
    font-size: 20px;
  }
  .type-6 .class2 .btnshopnow {
    font-size: 12px;
  }
  .type-6 .class2 .item_info {
    left: 10px;
    right: 0px;
    top: 0px;
  }
}
@media screen and (min-width: 980px) {
  .type-6 .class2 .item_info {
    left: 70px;
    right: 0px;
    top: 40px;
  }
  .type-6 .class2 .apple {
    font-size: 21px;
  }
  .type-6 .class2 .iMac {
    font-size: 50px;
  }
  .type-6 .class2 .type {
    font-size: 20px;
  }
  .type-6 .class2 .money {
    font-size: 40px;
  }
  .type-6 .class2 .btnshopnow {
    font-size: 20px;
  }
}
